extends layout

block content
  .main
    button.create
      | 点我创建
    button.delete
      | 点我删除
  script(src='http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
  script(src='/javascripts/backstage.js')
