body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

ul
  li
    list-style: none

.main
  min-width: 1200px
  margin: 0 auto

button
  padding: 5px 10px
  border: 1px solid #ddd